<?xml version="1.0"?>
<!DOCTYPE Configure PUBLIC "-//Jetty//Configure//EN" "http://www.eclipse.org/jetty/configure_9_0.dtd">
 
<Configure class="org.eclipse.jetty.webapp.WebAppContext">
 
  <Set name="war"><SystemProperty name="jetty.home" default="."/>/webapps/{{project_name}}_{{module_name}}.war</Set>
 
 {{app_profile}}
</Configure>